@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


                    /* CONFIGURAÇÕES GLOBAIS DO SITE */
body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #07070788;
    line-height: 2;
}
a{
    transition: color .1s;   
    color: #49bf9d;
    text-decoration: none;
    transition: .2s;
}
a:hover{
    color: #bd0000;
    border-bottom: 7px solid rgba(255, 0, 0, 0.438);
}
hr{
    margin: 50px 0px;
}
/* ===============================================================================================================
                                                CONFIGURAÇOES DO HEADER
   ===============================================================================================================
 */
header{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 35%;
    padding: 25px;
    box-sizing: border-box;
    background: #525252  url(../images/bg.jpg) no-repeat fixed;
    background-position: right;
    background-size: cover;
}
.imagem-header img{
    border-radius: 50%;
}

.imagem-header:hover{
    border-bottom: none;
}
                    /* TITULO DO HEADER */
.main-header-title{
    text-align: right;
    font-size: 1.7em;
    line-height: 2em;
    color: #ffffff83;
    font-weight: normal;
}
.main-header-title strong{
    color: white;
    font-weight: bold;
}

                    /* LINK DO HEADER */

.link-a{
    color: #ffffff63;
}
.link-a:hover{
    text-decoration: none;
    color: #49bf9d;
    transition: 1s;
}

/* ===============================================================================================================
                                                CONFIGURAÇOES DO MAIN
   ===============================================================================================================
 */

                    /* CONFIGURAÇOES DO MAIN */

main{
    margin-left: 35%;
    width: 65%;
    padding: 100px 50px;
    box-sizing: border-box;
}


.img-top-main{
    display: flex;
    padding: 10px;
}

.img-top-main img{
    border-radius: 10px;
    margin: 1em;
}


                    /* INFORMAÇOES DO DEV */

.section-getin-pai{
    display: flex;
    width: 100%;
}
.section-getin-filho1{
    width: 60%;
}
.section-getin-filho2{
    border: 1px solid #efefef;
    padding: 15px;
    width: 40%;
}



                    /* CONFIGURAÇÕES DAS LISTAS */

.list li{
    border-bottom: 2px solid #66666683;
    text-indent: 25px;
    
}
.list li:last-child{
    border-bottom: none;
}


                    /* LISTAS NÃO ORDENADAS */

.unordered-list{
    display: flex;
}

.unordered-list section{
    width: 45%;
    padding: 15px;
}

#icons-list ul{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

#icons-list li{
    list-style: none;
    font-size: 3.2em;
}

                    /* LISTAS ORDENADAS */

.ordered-list ol{
    width: 42%;
}

/* ===============================================================================================================
                                                        AREA DO BOTÃO
   ===============================================================================================================
 */


 .pai-action-a{
    display: flex;
    padding: 20px;
    width: 100%;
 }
.action-escuro{
    padding-top: 10px;
    display: inline-block;
    color: white;
    border-radius: 5px;
    font-size: 1.2em;
    background-color: #49bf9d;
    text-align: center;
}
.action-escuro:hover{
    background-color: red;
    border-bottom: none;
    color: white;
    box-shadow: 0px 4px 5px rgba(65, 0, 0, 0.267);
}
.action-claro{
    display: inline-block;
    width: 500px;
    background: white;
    color: #49bf9d;
    border: 1px solid #efefef;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}
.action-claro:hover{
    color: red;
    border-color: rgba(192, 0, 0, 0.623);
    border: 1px solid red;
    box-shadow: 0px 4px 5px rgba(255, 0, 0, 0.267);
}


.action-pequeno{
    width: 100px;
    font-size: .9em;
    height: 38px;
    padding: 5.6px;
    outline: none;
}

.action-medio{
    width: 150px;
    font-size: 1em;
    height: 40px;
    outline: none;
    
}
.action-grande{
    width: 90%;
    font-size: 1.2em;
    height: 40px;
    outline: none;
}
.section-div-pai{
    display: flex;
}
.section-div1, .section-div3{
    width: 50%;
}
.section-div2 a, .section-div1 a, .section-div3 a{
    margin: 10px;
}
.buttom{
    margin: 15px;
    padding-bottom: 5px;
    outline: none;
    cursor: pointer;
 }



 table{
    border-collapse: collapse;
    width: 100%;
    margin: 0 0 3em 0;
 }
tbody tr:first-child{
    border-top: 3px solid #66666668;
}
tbody tr:last-child{
    border-bottom: 2px solid #66666668;
}
tbody tr td{
    border-bottom: 1px solid #ccc;
}
 table th{
    text-align: left;
    background-color: #98989874;
    padding: .6em;
 }
 table td{
    padding: .6em;
 }
 tbody tr:nth-child(odd){
    background-color: #cccccc29;
 }
 tbody tr:nth-child(even){
    background-color: #cccccc49;
 }



/* ===============================================================================================================
                                                        AREA DE FORMULÁRIO
   ===============================================================================================================
 */



 .form{
    width: 100%;
}


.email-user{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
}
.email-user input{
    padding: 15px;
    width: 350px;
    border: none;
    border-bottom: 1px solid #49bf9d;
    background-color: #cccccc27;

}
.email-user input:hover{
    border-bottom: 1px solid #bd0000;
}
.email-user input:focus{
    outline: none;
    border-bottom: 5px solid #bd0000;
}
.email-user label{
    text-align: left;
    margin-bottom: 10px;
}
.form-radio{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
 }
 .form-checkbox{
    width: 600px;
    display: flex;
    justify-content: space-around;
 }


/* ===============================================================================================================
                                                        AREA DE IMAGEM 9X9
   ===============================================================================================================*/
 .imagem-full-unica{
    border-radius: 10px;
    width: 100%;
    background-color: orange;
}

.imagens-thublr-pai{
    text-align: center;
}
.imagens-thublr-filhos{
    width: 100%;
}
.imagens-thublr-filhos img{
    margin: 3px;
    width: 30%;
    border-radius: 10px;
}
/* ===============================================================================================================
                                                        AREA DE IMAGEM 3X3  
   ===============================================================================================================
 */
 
 .imagem-alinhada-direita{
     float: right;
    }
    
    
/* ===============================================================================================================
                                                            FOOTER 
       ===============================================================================================================
*/
footer{
    position: fixed;
    bottom: 0;
    width: 30%;
    padding: 0px 15px 150px 0px;
    text-align: right;
    font-size: 2.5em;
}

.div-pai-footer{
    width: 204px;
    height: 81px;
    position: absolute;
    right: 0px;
    transition: .2s all;
}
.caixa{
    padding: 10px;
}
.div-pai-footer:hover .caixa{
    filter: blur(3px);
    transform: scale(0.98);
}
.caixa:hover{
    filter: blur(0px) !important;
    color: red;
}