@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


                    /* CONFIGURAÇÕES GLOBAIS DO SITE */
body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #07070788;
    line-height: 2;
}
a{
    transition: color .2s;   
    color: #49bf9d;
    text-decoration: none;
    transition: .2s;
}
a:hover{
    color: #bd0000;
    border-bottom: 7px solid rgba(255, 0, 0, 0.438);
}
/* ===============================================================================================================
                                                CONFIGURAÇOES DO HEADER
   ===============================================================================================================
 */
header{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 35%;
    padding: 150px 80px;
    box-sizing: border-box;
    background: #525252  url(../images/bg.jpg) no-repeat fixed;
    background-position: right;
    background-size: cover;
}

                    /* TITULO DO HEADER */
.main-header-title{
    text-align: right;
    font-size: 1.7em;
    line-height: 2em;
    color: #ffffff83;
    font-weight: normal;
}
.main-header-title strong{
    color: white;
    font-weight: bold;
}

                    /* LINK DO HEADER */

.link-a{
    color: #ffffff63;
}
.link-a:hover{
    text-decoration: none;
    color: #49bf9d;
    transition: 1s;
}

/* ===============================================================================================================
                                                CONFIGURAÇOES DO MAIN
   ===============================================================================================================
 */

                    /* CONFIGURAÇOES DO MAIN */

main{
    margin-left: 35%;
    width: 65%;
    padding: 100px 50px;
    box-sizing: border-box;
}


.img-top-main{
    display: flex;
    padding: 10px;
}

.img-top-main img{
    border-radius: 10px;
}


                    /* CONFIGURAÇÕES DAS LISTAS */

.list li{
    border-bottom: 2px solid #66666683;
    text-indent: 25px;
    
}
.list li:last-child{
    border-bottom: none;
}


                    /* LISTAS NÃO ORDENADAS */

.unordered-list{
    display: flex;
}

.unordered-list section{
    width: 45%;
    padding: 15px;
}

#icons-list ul{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

#icons-list li{
    list-style: none;
    font-size: 3.2em;
}

                    /* LISTAS ORDENADAS */

.ordered-list ol{
    width: 42%;
}

/* ===============================================================================================================
                                                        AREA DO BOTÃO
   ===============================================================================================================
 */


 .pai-action-a{
    padding: 20px;
    width: 100%;
    background-color: #ccc;
 }
.action-escuro{
    display: inline-block;
    font-size: 1.2em;
    width: 100px;
    background-color: #49bf9d;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
